@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*making a change in ben branch*/
.mainPageHeader {
    text-decoration: underline;
    font-family: 'Open Sans',serif;
    color:white;
    font-size: 40px;
    font-weight: bold;
    background-color: lightskyblue;
}

.pageHeader {
    text-decoration: underline;
    font-family: 'Open Sans',serif;
    color:cornflowerblue;
    font-size: 40px;
    border-style: groove;
    border-radius: 50%;
}

.smallerSpacingDiv {
    height: 10px;
}

.searchBar {
    background-color: aliceblue;
    padding:10px;
    font-size: 15px;
    font-weight: bold;
    font-style: 
}

.searchButton {
    padding: 10px;
    font-size: 15px;
}

/*
.searchBar span:first-child {
    text-align: left;
}
*/

.searchButton span:last-child {
    text-align: right;
}

.pageTable {
    width: 100%;
}

.pageTable, tr, td {
    border-style: groove;
    font-size: 20px;
    border-color: cornflowerblue;
    padding: 10px;
}

.pageTable tr:hover {
    background-color: aquamarine;
}

.pageTable tr:first-child td {
    font-size: 30px;
    color: white;
    background-color: cornflowerblue;
    font-style: normal;
    font-weight:bold;
}

.loginContainer {
    text-align: left;
    padding-left: 35%;
}

.signUpContainer {
    text-align: left;
    padding-left: 35%;
}

.loginHeader {
    text-decoration: underline;
    font-family: 'Open Sans',serif;
    font-size: 30px;
}

#login_btn {
    font-weight: bold;
    padding: 8px;
    font-family: 'Open Sans',serif;
}

#sign_up_btn {
    font-weight: bold;
    padding: 8px;
    font-family: 'Open Sans',serif;
}

.signUpHeader {
    text-decoration: underline;
    font-family: 'Open Sans',serif;
    font-size: 30px;
    border-top-style:double;
    border-color: cornflowerblue;
}

.firstSpacingDiv {
    height: 8px;
}

body {
    text-align: center;
    border-style: solid;
    border-color: lightskyblue;
    padding: 10px;
    font-family: 'Open Sans',serif;
    background-color:aliceblue;
}

.navbar-item {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

.spacingDiv {
    height:30px;
}

.logoutButton {
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: red;
    font-weight: bold;
    font-size: 15px;
}


